<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Admin.css" rel="stylesheet" />
</head>
<body>
    <header>
        <a href="/">Admin</a>
    </header>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a class="nav-item">
                        Home
                    </a>
                </li>
            </ul>
        </nav>
        <main>
            @RenderBody()
        </main>
    </div>
</body>
</html>
