@model IEnumerable<ShowGroupViewModel>

<ul class="list-group">
    @foreach (var items in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/Group/@items.GroupId/@items.Name">@items.Name</a>
            <span class="badge badge-primary badge-pill">@items.ProductCount</span>
        </li>
    }
</ul>

