@page
@model SoheilShop.Pages.Admin.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>ویریش کالا</h1>
<hr />
<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Product.Id" />
    <dl class="dl-horizontal">
        <dd><label asp-for="Product.Name"></label></dd>
        <dt>
            <input asp-for="Product.Name" class="form-control" />
            <span asp-validation-for="Product.Name"></span>
        </dt>
        <dd><label asp-for="Product.Description"></label></dd>
        <dt>
            <textarea asp-for="Product.Description" class="form-control"></textarea>
            <span asp-validation-for="Product.Description"></span>
        </dt>
        <dd><label asp-for="Product.Price"></label></dd>
        <dt>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price"></span>
        </dt>
        <dd><label asp-for="Product.QuantityInStock"></label></dd>
        <dt>
            <input asp-for="Product.QuantityInStock" class="form-control" />
            <span asp-validation-for="Product.QuantityInStock"></span>
        </dt>
        <dd><label asp-for="Product.Picture"></label></dd>
        <dt>
            <input asp-for="Product.Picture" />
            <span asp-validation-for="Product.Picture"></span>
        </dt>
        <dd></dd>
        <dt>
            <input type="submit" class="btn btn-success" value="ثبت" />
        </dt>
    </dl>



</form>